.root {
  padding: var(--padding-sm);
  background: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  outline: none;
  cursor: pointer;

  & option {
    background: var(--bg-color);
  }
}
