:root {
    --font-family: sans-serif;
    --font-size-lg: 1.2rem;
    --font-line-lg: 1.4rem;
    --font-size-md: 1rem;
    --font-line-md: 1.2rem;
    --font-size-sm: 0.8rem;
    --font-line-sm: 1rem;
    --font-size-xs: 0.6rem;
    --font-line-xs: 0.8rem;

    --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family);
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family);
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family);
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family);

    --padding-lg: 16px;
    --padding-md: 8px;
    --padding-sm: 4px;

    --gap-lg: 16px;
    --gap-md: 8px;
    --gap-sm: 4px;

    --navbar-height: 50px;
    --sidebar-width-close: 80px;
    --sidebar-width-open: 300px;
}