.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);

    padding: var(--padding-md);
    border-bottom: 1px solid var(--primary-color);

    .links {
        display: flex;
        gap: var(--gap-md);
    }
}